[submodule "lib/rt64"]
	path = lib/rt64
	url = https://github.com/PalindromicBreadLoaf/rt64.git
	branch = switch
[submodule "lib/N64ModernRuntime"]
	path = lib/N64ModernRuntime
	url = https://github.com/PalindromicBreadLoaf/N64ModernRuntime-nx.git
	branch = switch
[submodule "lib/RmlUi"]
	path = lib/RmlUi
	url = https://github.com/mikke89/RmlUi/
[submodule "lib/lunasvg"]
	path = lib/lunasvg
	url = https://github.com/sammycage/lunasvg
